<%= form_for(@advertisement, :html => { :multipart => true }) do |f| %> 
<div> 
<%= f.label :pic %><br /> 
<%= f.file_field :pic %> 
</div> 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>