<h1>Listing advertisements</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @advertisements.each do |advertisement| %>
  <tr>
    <td><%= advertisement.name %></td>
    <td><%= image_tag advertisement.pic.url(:medium) %></td>
    <td><%= link_to 'Show', advertisement %></td>
    <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Advertisement', new_advertisement_path %>
