<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @advertisement.name %>
</p>


<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Back', advertisement_path %>

<p> 
<b>Image:</b> 
<%= image_tag @advertisement.pic.url(:medium) %> 
</p> 